* {
    color: white;
    box-sizing: border-box;
    background: rgb(102, 198, 211);
}

body {
    border: 3px solid green;
    padding: 25px;
    width: auto;
}

h1, ul {
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.port {
    color: green;
}

img {
    float: right;    
    height: 200px;
    padding-right: 30px;
}
