* {
    box-sizing: border-box;
}
/* Make this text blue, underlined, and have a gold background */
h1 {
    color: blue;
    text-decoration: underline;
    background: gold;
}

/* Make this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange borderMake this text purple, bolded, 25px, and have an orange border */
h2 {
    color: purple;
    font-weight: bold;
    border: 25px solid orange;
}

/* Make this section width of 50%, height of 200px, background of gray, border of black, and the paragraph text white */
section {
    width: 50%;
    height: 200px;
    background: gray;
    border: black;
    color: white;
}

/* >Make this footer have a black background, with light green border, and this text 20px white plus a font-family of Courier New', Courier, monospace */
footer {
    background: black;
    border: 2px solid lightgreen;
}


h3 {
    background: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}